{% extends "base.html" %}

{% block extrahead %}

    {% if page and page.meta and page.meta.og_title %}
        <meta property="og:title" content="{{ page.meta.og_title }}" />
        <meta name="twitter:title" content="{{ page.meta.og_title }}">
    {% elif page and page.meta and page.title %}
        <meta property="og:title" content="{{ page.title }} - {{ config.site_name }}" />
        <meta name="twitter:title" content="{{ page.title }} - {{ config.site_name }}">
    {% endif %}

    {% if page and page.meta and page.meta.og_type %}
        <meta property="og:type" content="{{ page.meta.og_type }}" />
    {% else %}
        <meta property="og:type" content="website" />
    {% endif %}

    <meta property="og:url" content="{{ page.canonical_url }}" />

    {% if page and page.meta and page.meta.page_path and page.meta.og_image %}
        <meta property="og:image" content="{{ config.site_url ~ page.meta.page_path ~ page.meta.og_image }}" />
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="630">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:image" content="{{ config.site_url ~ page.meta.page_path ~ page.meta.og_image }}">
    {% elif page and page.meta and page.meta.og_image %}
        <meta property="og:image" content="{{ page.meta.og_image }}" />
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="630">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:image" content="{{ page.meta.og_image }}">
    {% endif %}

    {% if page and page.meta and page.meta.og_image_type %}
        <meta property="og:image:type" content="{{ page.meta.og_image_type}}" />
    {% else %}
        <meta property="og:image:type" content="image/png" />
    {% endif %}

    {% if page and page.meta and page.meta.description %}
        <meta property="og:description" content="{{ page.meta.description }}">
    {% elif config.site_description %}
        <meta property="og:description" content="{{ config.site_description }}">
    {% endif %}

{% endblock %}

{% block announce %}
    {{ super() }}
    <div id="announcement">
        <div class="circle">
            <div class="circle-wrapper pulsate-fwd"></div>
          </div>
          <div class="txt">
                <p>BeyondATC announces the integration of a LLM! Read more <a href="/announcements/LLM">HERE</a></p>
            </div>
          </div>
    </div>
   
{% endblock %}